/* .form_sec {
    background: #f7f6f7;
}

.form_sec h5 {
    font-size: 2.4rem;
    margin-bottom: 4rem;
    font-weight: 500;
}

.form_sec p,
.form_sec h6,.form_sec  span {
    font-size: 1.6rem;
}

.form_sec h6 {
    margin-bottom: 0.5rem;
}

.form_sec input {
    font-size: 1.6rem;
    padding: 12px 14px;
}
.form_sec label, .form_sec .MuiList-root  li {
    font-size: 1.4rem ;
}
.form_sec button,
.form_sec a {
    font-size: 1.6rem;
    padding: 12px 14px;

}

.form_sec a {
    display: block;
    color: rgba(26, 29, 32, 0.9);
    text-decoration: none;
    font-weight: 500;
}

.form_sec a:hover {
    background-color: rgba(26, 29, 32, 0.05);
    color: rgba(26, 29, 32, 0.9);
    border-radius: 0.4rem;
}
.term_con p a{
    display: inline;
    padding: 0;
    font-size: 1.4rem;
    color: rgba(26, 29, 32, 0.9) !important;

}
.term_con p,.term_con  span{
    font-size: 1.4rem;
    color: rgba(26, 29, 32, 0.9);

} */